#container {
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

ul {
    text-align: center;
    list-style: none;
}

li{
    padding: 5px;
}

div {
    padding: 10px;
}